{% extends 'base.html' %}



{% block content %}

<style>
    body {
        background-image: url("{{ url_for('static', filename='images/survive.jpg') }}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh; /* Ensures the background covers the entire viewport height */
    }

    h1 {
        letter-spacing: 10px; /* Increases spacing by 5 pixels */
        text-shadow: 5px 5px 5px rgba(5, 5, 5, 0.2);
     }

    h2 {
        letter-spacing: 10px; /* Increases spacing by 15 pixels */
        text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.25); /* White shadow with 50% transparency */
    }

    button {
        letter-spacing: 3px; /* Increases spacing by 5 pixels */
        text-shadow: 5px 5px 5px rgba(5, 5, 5, 0.1);
     }



</style>
<center><h1>Titanic ML project</h1></center>
<!-- Optional: You can include a div to contain other content on top of the background image -->
<div class="container">
    <!-- Button to redirect to homepage -->
    <br><br>
    <h1 align="center" style="font-size: 55px;">YOU WOULD SURVIVE</h1>
    <br><br>

    <br><br>
    <center><button class="btn btn-primary btn-lg" onclick="window.location.href='/';">GO TO PRREDICTIONS</button></center>
    <br><br><br><br><br><br><br><br>
    <h2 align="center" style="color:#bdbdbd;"> Probability that you survive: {{ probability }} %</h2>
</div>



{% endblock %}
